@import "../../Assets/Style/mixin";
@import "../../Assets/Style/variable.scss";

.utility_container {
    .utility-header {
        padding: 20px 10% 0px;
        @include flextype(flex-start, center);
        @include borderBackground(null, var(--color-white), 4px, var(--box-shadow1));

        ul {
            width: 70%;
            list-style: none;
            margin: 0px;
            padding: 0px;
            @include flextype(space-between, center);
            gap: 20px;

            li {
                img {
                    max-width: 50px;
                    max-height: 35px;
                }
                cursor: pointer;
                @include flextype(center, center);
                flex-direction: column;
                gap: 10px;
                padding-bottom: 20px;

                p {
                    @include formText(var(--text-color7), 12px, 400, 14px);
                    text-align: center;
                    cursor: pointer;
                }
                &.active {
                    border-bottom: 3px solid var(--color-yellow);
                }
            }
        }
    }
    .utility-content-box {
        text-align: left;
        padding: 40px 10%;
        .dth-box {
            margin-top: 20px;
            h4 {
                @include formText(var(--color-footer-bottom), 22px, 600, 30px);
                text-align: left;
            }
            .input-span-wrap {
                @include flextype(null, center);
                gap: 30px;
                .input-span-content {
                    @include flextype(null, center);
                    gap: 5px;
                    input[type="radio"] {
                        accent-color: var(--header-black);
                        width: 18px;
                        height: 18px;
                        cursor: pointer;
                    }
                    label {
                        @include formText(var(--text-color2), 14px, 400, 17px);
                        cursor: pointer;
                        text-align: left;
                        &.active {
                            @include formText(var(--header-black), 14px, 400, 17px);
                        }
                    }
                }
            }
            .operator-details {
                width: 80%;
                @include flextype(flex-start, center);
                gap: 20px;
                margin: 20px 0px;
                button {
                 border: 1px solid var(--text-color1);
                 padding: 7px 30px;
                    @include buttonCss(var(--text-color1),16px, 400, var(--color-white), 4px, 25px);
                }
            }
        }
    }
}
