@import "../../Assets/Style/mixin.scss";

.footer_mainDiv {
  .mobile_footer {
    margin: 0;
    .options_div {
      @include flextype(space-around, unset);
      flex-wrap: wrap;
      background-color: var(--color-footer-bottom);
      // gap: 20px;
      padding: 10px 20px;
      .footer_options {
        display: flex;
        flex-direction: column;
        img{
          max-width: 30px
        }
        label {
          @include formText(var(--color-white), 16px, 400, 17px);
        }
      }
    }
    .menu_content_wrap {
      @include MenuContent;

      .icon_wrap {
        display: block;
        text-align: center;
        padding: 15px 0;
        cursor: pointer;

        p {
          color: var(--color-white);
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          padding-top: 10px;
          margin-bottom: 0;
        }

        div {
          border-radius: 100%;
          width: 49px;
          height: 49px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;

          &.change_store {
            background-color: #2953e9;
          }

          &.change_mobile {
            background-color: #0e9078;
          }

          &.visit_booking {
            background-color: #df5151;
          }

          &.my_order {
            background-color: #e9b429;
          }

          &.shopping_cart {
            background-color: #6236ff;
          }

          &.digital_reciept {
            background-color: #1dd9ab;
          }

          &.coupon_gv {
            background-color: #a8257d;
          }

          &.more_offer {
            background-color: #e92953;
          }

          &.videoSlot {
            background-color: #e85900;

            img {
              width: 24px;
            }
          }
        }
      }

      .change-options {
        padding-top: 20px;
        margin-top: 10px;
        display: block;
        text-align: center;
        // padding: 15px;
        cursor: pointer;
        border-top: 1px solid rgba(127, 127, 127, 0.6);

        p {
          color: var(--color-white);
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          padding-top: 10px;
          margin-bottom: 0;
        }

        .change_clr {
          .oval_black {
            position: relative;
            left: 16px;
          }
        }

        .change_lang {
          .language_icon {
            position: relative;
            bottom: 12px;
            left: 14px;
          }
        }

        .lang_text {
          padding-top: 7px;
        }
      }

      .no-lang {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
  .footer-top {
    background-color: var(--header-black);

    .ul-li-wrap {
      align-self: center;
      padding-top: 20px;
      ul {
        list-style: none;
        padding: 0px;
        li {
          @include formText(var(--color-white), 16px, 400, 19px);
          letter-spacing: 0.4px;
          text-align: left;
          cursor: pointer;
          padding: 5px 0px;

          &:first-child {
            @include formText(var(--color-white), 20px, 500, 24px);
            letter-spacing: 0.5px;
            text-align: left;
            margin-bottom: 12px;
            cursor: default;
          }
        }
      }
    }
    .dashed-line {
      border: 1px solid var(--color-footerdash);
    }
    .shiping-social_box {
      @include flextype(null, center);

      .shiping_wrap {
        @include flextype(null, center);
      }
      .service-box {
        @include flextype(null, flex-start);
        gap: 20px;
        .txt-box {
          text-align: left;
          span {
            @include formText(var(--color-white), 16px, 600, 19px);
            padding-bottom: 5px;
            border-bottom: 1px solid var(--color-borderbottom);
            letter-spacing: 0.4px;
            text-align: left;
          }
          p {
            @include formText(var(--color-white), 16px, 400, 19px);
            letter-spacing: 0.4px;
            text-align: left;
            min-width: 149px;
            margin-top: 10px;
            margin-bottom: 0px;
          }
        }
      }

      .social_box {
        span {
          @include formText(var(--color-white), 16px, 400, 19px);
          letter-spacing: 0.4px;
          text-align: center;
          white-space: nowrap;
        }
        p {
          @include formText(var(--color-white), 16px, 400, 19px);
          letter-spacing: 0.4px;
          text-align: center;
          margin: 0px;
        }
        .img-box-social {
          @include flextype(space-around, center);
        }
      }
    }
  }
  .footer-bottom {
    background-color: var(--color-footer-bottom);
    @include flextype(space-between, center);
    .term-policy-wrap {
      @include flextype(null, center);
      gap: 24px;
      span {
        @include formText(var(--color-white), 16px, 400, 19px);
        letter-spacing: 0.4px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 912px) {
  .footer_mainDiv {
    .footer-top {
      .ul-li-wrap {
        ul {
          li {
            @include formText(var(--color-white), 14px, 400, 17px);
            &:first-child {
              @include formText(var(--color-white), 16px, 500, 19px);
            }
          }
        }
      }
      .shiping-social_box {
        .service-box {
          .txt-box {
            span {
              @include formText(var(--color-white), 14px, 600, 19px);
            }
            p {
              @include formText(var(--color-white), 14px, 400, 19px);
            }
          }
        }
        .social_box {
          span {
            @include formText(var(--color-white), 14px, 400, 19px);
          }
          p {
            @include formText(var(--color-white), 14px, 400, 19px);
          }
        }
      }
    }
  }
}
