@import "../../Assets/Style/mixin.scss";

.main_container {
  background-color: #fafafa;
  padding: 20px 0px;
  // height: 100vh;
  // overflow: auto;
  .sidebarContent {
    @include flextype(null, flex-start);
    gap: 20px;
    padding: 30px 10%;
    .side_wrap {
      @include borderBackground(none, var(--color-white), 4px, var(--box-shadow1));
      padding: 0px;
      list-style: none;
      height: 100%;
      min-height: 336px;

      .li-active {
        @include formText(var(--header-black), 16px, 600, 20px);
        white-space: nowrap;
        text-align: left;
        border-bottom: 1px solid var(--color-whitishgrey);
        padding: 18px 12px;
        border-left: 6px solid var(--color-yellow);

        min-width: 223px;
        min-height: 56px;
        cursor: pointer;
        &:last-child {
          border-bottom: none;
        }
      }
      .li-inactive {
        @include formText(var(--text-color1), 16px, 600, 20px);
        text-align: left;
        border-bottom: 1px solid var(--color-whitishgrey);
        padding: 18px;
        min-width: 223px;
        min-height: 56px;
        cursor: pointer;
        white-space: nowrap;

        &:last-child {
          border-bottom: none;
        }
      }
      .sub-menu {
        padding: 8px 24px;
        list-style: none;
        border-bottom: 1px solid var(--color-whitishgrey);
        .li-active-sub {
          @include formText(var(--header-black), 16px, 600, 20px);
          text-align: left;
          padding: 15px 0px;
        }
        .li-inactive-sub {
          @include formText(var(--text-color2), 16px, 600, 20px);
          text-align: left;
          padding: 15px 0px;
        }
      }
    }
  }
}
@keyframes growsubDown {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.profile_detail {
  .circle-name-box {
    @include flextype(null, center);
    gap: 10px;
    .oval {
      border: 4px solid #e6e9ff;
      border-radius: 100%;
      max-width: 80px;
      width: 100%;
      height: 80px;
      margin: 0px;
      @include flextype(center, center);

      .circle-name {
        width: 69px;
        height: 69px;
        background-color: #e6e9ff;
        border: 4px solid #ffffff;
        border-radius: 50%;
        @include flextype(center, center);
        span {
          @include formText(var(--text-color5), 30px, 400, 36px);

          font-size: 30px;
          line-height: 36px;
        }
      }
    }
    .name-details-pr {
      h3 {
        @include formText(var(--color-footer-bottom), 22px, 600, 30px);
        text-align: left;
        margin: 0px;
      }
      span {
        @include formText(var(--text-color1), 16px, 400, 24px);
        text-align: left;
      }
    }
  }

  .detail_card {
    animation: growsubDown 300ms ease-in-out;
    .prf-btn {
      @include flextype(space-between, center);
      span {
        @include formText(var(--header-black), 18px, 500, 26px);
        text-align: left;
      }
      button {
        @include borderBackground(1px solid var(--text-color1), var(--color-white), 4px, null);

        @include formText(var(--text-color1), 16px, 400, 25px);
        padding: 7px 30px;
        text-align: center;
      }
    }
    .ul-li-box {
      display: flex;
      margin-top: 15px;
      gap: 30px;
      ul {
        padding: 0px;
        padding-right: 10px;
        list-style: none;
        text-align: left;
        li {
          @include flextype(null, center);
          gap: 15px;
          padding-top: 10px;
          h4 {
            @include formText(var(--text-color1), 14px, 400, 17px);
            text-align: left;
            margin: 0;
          }
          label {
            @include formText(var(--color-black), 14px, 400, 17px);
            text-align: left;

            span {
              @include formText(var(--color-lightblue), 14px, 400, 17px);
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .address-box {
    background-color: rgba(41, 181, 6, 0.03);
    border: 1px solid var(--color-green);
    border-bottom: 0px;
    border-radius: 4px 4px 0 0;
    padding: 20px;
    text-align: left;
    &.grey-brd {
      border: 1px solid var(--color-whitishgrey);
      border-bottom: 0px;
      background-color: var(--color-white);
    }
    .name-default {
      @include flextype(space-between, center);

      .name-mobile {
        span {
          @include formText(var(--header-black), 14px, 400, 20px);
          text-align: left;
        }
        p {
          @include formText(var(--header-black), 14px, 400, 20px);
          text-align: left;
        }
      }
      .img-tag {
        span {
          background-color: var(--color-whitishgrey);
          padding: 6px 15px;
          border-radius: 4px;
          @include formText(var(--text-color1), 14px, 400, 16px);
          line-height: 16px;
          text-align: center;
        }
        p {
          @include formText(var(--color-lightblue), 14px, 400, 20px);
          text-align: left;
          cursor: pointer;
          margin: 0px;
        }
      }
    }
    .cmplt-address {
      p {
        @include formText(var(--text-color1), 14px, 400, 20px);
        text-align: left;
        margin: 0px;
      }
    }
  }
  .btn-box-adr {
    button {
      background-color: var(--color-white);
      border: 1px solid var(--color-green);
      width: 50%;
      @include formText(var(--color-lightblue), 16px, 400, 24px);
      padding: 15px 0px;
      text-align: center;
      border-radius: 0px 0px 0px 4px;
      &.grey-brd {
        border: 1px solid var(--color-whitishgrey);
      }
      &:last-child {
        border-radius: 0px 0px 4px 0px;
        border-left: 0px;
      }
    }
  }
}
.coupons_wrap {
  @include borderBackground(none, var(--color-white), 4px, var(--box-shadow1));

  .tabs-class {
    .nav-link.active {
      @include formText(var(--header-black), 18px, 500, 26px);
      text-align: left;
      border: none;
      border-bottom: 3px solid var(--color-yellow);
      margin-left: 10px;
    }
    .nav-link {
      @include formText(var(--text-color2), 18px, 500, 26px);
      text-align: left;
      margin-left: 10px;
      transition: none;

      &:hover {
        border: none;
        border-bottom: 3px solid var(--color-yellow);
        isolation: unset;
      }
    }
  }
  .content_wrap {
    padding: 20px;
    .btn_wrap_offer {
      @include flextype(end, center);
      border-bottom: none;
      gap: 10px;
      margin-bottom: 10px;
      .nav-link.active {
        background-color: #7b7b7b;
        border-radius: 6px;
        @include formText(var(--color-white), 14px, 400, 20px);
        text-align: center;
        padding: 7px 21px;
      }
      .nav-link {
        background-color: #ffffff;
        border: 1px solid #efefef;
        border-radius: 6px;
        @include formText(var(--text-color1), 14px, 400, 20px);
        text-align: center;
      }
    }
    .coupons_details_wrap {
      background-color: var(--color-white);
      border: 1px solid var(--color-whitishgrey);
      border-radius: 4px;
      padding: 10px;
      .img-brand {
        @include flextype(null, center);
        gap: 10px;
        border-bottom: 2px solid var(--color-whitishgrey);
        padding: 10px 0px;
        .text-wrap {
          text-align: left;

          span {
            @include formText(var(--text-color3), 20px, 500, 28px);
            text-align: left;
          }
          p {
            @include formText(var(--text-color1), 16px, 400, 22px);
            text-align: left;
          }
        }
      }
      .date_box {
        @include flextype(space-between, center);
        border-bottom: 2px solid var(--color-whitishgrey);
        padding: 10px 0px;
        .date {
          @include formText(var(--header-black), 14px, 400, 20px);
          text-align: left;
          margin: 0px 8px;
        }
        .time {
          @include formText(var(--text-color1), 14px, 400, 20px);
          text-align: left;
          border-left: 1px solid var(--text-color1);
        }
        span {
          @include formText(var(--color-lightblue), 14px, 400, 20px);
          text-align: right;
          cursor: pointer;
        }
      }
      .clipborad_box {
        @include flextype(null, center);
        gap: 10px;
        padding: 10px 0px;

        .code {
          width: 70%;
          background-color: var(--bg-couponcode);
          border: 2px dashed var(--color-whitishgrey);
          border-radius: 4px;
          @include formText(var(--header-black), 20px, 600, 28px);
          text-align: center;
          padding: 9px 0px;
        }
        .clip-img {
          border: 2px dashed var(--color-whitishgrey);
          @include flextype(end, center);
          gap: 10px;
        }
      }
    }
  }
}

.hs-container {
  width: 100%;

  .header_name_hs {
    text-align: left;
    span {
      @include formText(var(--color-footer-bottom), 22px, 600, 30px);
      text-align: left;
    }
  }
  .search_filter_box {
    text-align: left;
    position: relative;
    // border: 1px solid black;
    input {
      background-color: #fafafa;
      border: 1px solid #efefef;
      border-radius: 4px;
      outline: none;
      padding: 15px 30px;
      width: 100%;
      @include formText(var(--text-color2), 16px, 400, 20px);
      text-align: left;
    }
    img {
      position: absolute;
      top: 17px;
      left: 10px;
    }
  }
  .filter-box {
    position: relative;
    .duration_box {
      padding: 15px 10px;
      @include flextype(space-between, center);
      width: 100%;
      background-color: var(--color-white);
      border: 1px solid var(--color-whitishgrey);
      border-radius: 4px;

      .lbl-duration {
        background-color: var(--color-white);
        position: absolute;
        top: -7px;
        left: 10px;
        @include formText(var(--text-color2), 12px, 400, 14px);
        text-align: left;
      }
      span {
        @include formText(var(--header-black), 16px, 400, 20px);
        text-align: left;
      }
    }
  }
  .table-view-wrap {
    overflow-y: auto;
    //border: 1px solid var(--color-green);
    padding: 10px;
    //max-height: 100px;
    .orderstatus_card {
      text-align: center;
      border-radius: 4px;
      white-space: nowrap;

      &.upcoming {
        padding: 6px 18px;
        background-color: var(--bg-upcoming);
        @include formText(var(--text-upcoming), 12px, 500, 16px);
      }
      &.deliver {
        padding: 6px 18px;
        background-color: var(--bg-deliver);
        @include formText(var(--text-deliver), 12px, 500, 16px);
      }
      &.delivered {
        padding: 6px 18px;
        background-color: var(--bg-delivered);
        @include formText(var(--text-delivered), 12px, 500, 16px);
      }
      &.returnRequest {
        padding: 6px 22px;
        background-color: var(--bg-request);
        @include formText(var(--text-color1), 12px, 500, 16px);
      }
    }
    table {
      width: 100%;
      border: 1px solid var(--color-whitishgrey);
      overflow-x: auto;

      thead {
        background-color: var(--bg-tableHeader);
        th {
          padding: 10px 10px;
          @include formText(var(--text-color1), 14px, 400, 20px);
          text-align: left;
          border-bottom: 1px solid var(--color-whitishgrey);
          &:nth-last-child(-n + 2) {
            text-align: end;
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid var(--color-whitishgrey);
          &:last-child {
            border-bottom: none;
          }
          td {
            padding: 10px 10px;
            @include formText(var(--header-black), 14px, 400, 20px);
            text-align: left;
            white-space: nowrap;

            &:nth-last-child(-n + 2) {
              text-align: end;
            }
          }
        }
      }
    }
  }
}

.referEarnWrap {
  width: 80%;
  .refer-container {
    @include flextype(null, flex-start);
    gap: 30px;
    .share-container {
      .share-coupon-box {
        text-align: left;
        p {
          margin: 0px;
          @include formText(var(--header-black), 18px, 500, 26px);
          text-align: left;
        }
        span {
          @include formText(var(--color-footer-bottom), 22px, 600, 30px);
          text-align: left;
        }
        .coupon-code-box {
          @include flextype(null, center);
          margin-top: 20px;

          p {
            background-color: #ffffff;
            border: 1px dashed var(--color-orange);
            border-radius: 4px 0px 0px 4px;
            text-align: center;
            padding: 10px 50px;
            @include formText(var(--color-orange), 20px, 400);
            letter-spacing: 1px;
            border-right: none;
          }

          button {
            background-color: var(--color-orange);
            border: 1px solid var(--color-orange);
            border-radius: 0 4px 4px 0;
            @include formText(var(--color-white), 18px, 400, 22px);
            text-align: center;
            padding: 12px 26px;
          }
        }
      }
      .span-wrp {
        @include flextype(flex-start, center);
        gap: 5px;
        text-align: center;
        margin-top: 30px;
        .line {
          border-top: 1px solid var(--color-whitishgrey);
          width: 84px;
        }
        span {
          @include formText(var(--text-color1), 14px, 400, 17px);
        }
      }
      .media-box {
        @include flextype(null, center);
        gap: 18px;
        .media-card {
          background-color: #ffffff;
          border: 1px solid #f4f4f4;
          border-radius: 11px;
          box-shadow: 0 4px 6px 0 rgba(161, 161, 161, 0.1);
          padding: 15px 18px;
          @include flextype(null, center);
          gap: 10px;

          span {
            @include formText(var(--text-color4), 16px, 400, 19px);
            text-align: left;
          }
        }
      }
    }
  }
  .trc-view {
    background-color: #ffffff;
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 20px;

    .trc-content {
      @include flextype(null, center);
      text-align: left;
      gap: 10px;
      border-right: 1px solid var(--color-whitishgrey);
      &.brd-right {
        border-right: none;
      }

      span {
        @include formText(var(--color-footer-bottom), 14px, 400, 20px);
        text-align: left;
      }
      p {
        @include formText(var(--text-color1), 14px, 400, 20px);
        text-align: left;
        margin: 0px;
      }
    }
  }
}

.pointbalance_wrap {
  .tier-ern-redem_wrap {
    .progress-box {
      @include flextype(null, center);
      border-right: 1px solid var(--color-whitishgrey);
      padding: 19px 22px 19px 0px;

      gap: 10px;
      .begn-points {
        text-align: left;
        .tiername-pts {
          @include flextype(space-between, center);
          h1 {
            @include formText(var(--color-footer-bottom), 22px, 600, 30px);
            text-align: left;
            margin: 0px;
          }
          .pts-block {
            span {
              @include formText(var(--color-footer-bottom), 20px, 400, 24px);
              text-align: right;
            }
            @include formText(var(--text-color1), 18px, 400, 20px);
          }
        }
        .progress-bar-blance {
          progress {
            width: 100%;
          }
        }
        span {
          @include formText(var(--text-color1), 14px, 400, 20px);
        }
      }
    }
    .earn-reedem-box {
      @include flextype(center, center);
      border-right: 1px solid var(--color-whitishgrey);
      height: 100%;
      padding: 0px 20px;
      &.brd-rht {
        border-right: none;
      }
      .ern-content {
        text-align: left;
        span {
          @include formText(var(--header-black), 18px, 500, 26px);
          text-align: left;
        }
        p {
          margin: 0px;
          @include formText(var(--text-color1), 14px, 400, 20px);
          text-align: left;
          cursor: pointer;
          span {
            margin-left: 7px;
            color: var(--color-lightblue);
          }
        }
      }
    }
  }
  .work-flow-box {
    text-align: left;
    margin-top: 30px;
    h3 {
      @include formText(var(--header-black), 18px, 500, 26px);
      text-align: left;
      margin: 0px;
    }
    .points-detailing {
      @include flextype(null, center);
      gap: 10px;
      text-align: left;

      .pts-span-p {
        padding-right: 10px;
        span {
          @include formText(var(--color-footer-bottom), 14px, 400, 20px);
          text-align: left;
        }
        p {
          @include formText(var(--text-color1), 14px, 400, 20px);
          text-align: left;
        }
      }
    }
    .benefits-wrap {
      padding: 30px 0px;
      border-top: 1px solid var(--color-whitishgrey);
      .tier-card-wrap {
        margin-top: 20px;
        position: relative;
        width: 100%;
        .gradient-box {
          padding: 20px 20px 50px;
          border-radius: 4px 4px 0 0;
          background-image: radial-gradient(var(--color-white), var(--card-gradient1), var(--card-gradient2));
          span {
            @include formText(var(--header-black), 16px, 400, 20px);
            text-align: left;
          }
          p {
            @include formText(var(--header-black), 14px, 400, 20px);
            margin: 10px 0px 0px;

            &.margin-p {
              margin: 0px;
            }
          }
        }
        .tier-details-wrap {
          width: 100%;
          margin-top: -10px;
          background-color: #f7f7f7;
          border: 3px solid #ffffff;
          border-radius: 8px 8px 4px 4px;

          .check-conditions {
            @include flextype(null, flex-start);
            gap: 10px;
            margin-top: 60px;
          }
        }
        .circle-div {
          width: 100%;
          @include flextype(center, center);

          .circle-box {
            position: absolute;
            // top: 97px;
            // left: 50%;
            width: 80px;
            height: 80px;
            background-color: var(--color-white);
            border-radius: 50%;
          }
        }
      }
    }
  }
  .table-point-blc {
    margin-top: 20px;
    text-align: left;

    h4 {
      @include formText(var(--header-black), 18px, 600, 26px);

      text-align: left;
    }
    .table-context {
      // height: 150px;
      // overflow-x: auto;
      // overflow-y: auto;
      table {
        width: 100%;
        border-collapse: collapse;

        position: relative;
        thead {
          text-align: left;
          @include borderBackground(null, var(--bg-tableHeader), null, null);
          th {
            @include formText(var(--header-black), 14px, 600, 20px);
            padding: 10px 20px;
          }
        }
        tbody {
          text-align: left;
          :first-child {
            border-top: 1px solid var(--color-whitishgrey);
          }

          tr {
            border-bottom: 1px solid var(--color-whitishgrey);
            border-left: 1px solid var(--color-whitishgrey);
            border-right: 1px solid var(--color-whitishgrey);

            td {
              padding: 10px 20px;
              @include formText(var(--text-color1), 14px, 400, 20px);
              text-align: left;
            }
          }
        }
      }
    }
  }
}
.reward_cash_wrap {
  .reward-cash {
    @include flextype(null, center);
    gap: 10px;
    .reward-points-wrap {
      text-align: left;
      width: 42%;
      span {
        @include formText(var(--text-color1), 16px, 400, 19px);
        text-align: left;
      }
      .reward-points {
        @include flextype(space-between, center);
        h3 {
          @include formText(var(----color-footer-bottom), 22px, 600, 30px);
          text-align: left;
          margin-bottom: 0px;
        }
        span {
          @include formText(var(--header-black), 24px, 400, 28px);
          text-align: right;
        }
      }
    }
  }
  .work-flow-box_rc {
    text-align: left;

    h3 {
      @include formText(var(--header-black), 18px, 500, 26px);
      text-align: left;
      margin: 0px;
    }
    .points-detailing {
      @include flextype(null, center);
      gap: 10px;
      text-align: left;

      .pts-span-p {
        padding-right: 10px;
        span {
          @include formText(var(--color-footer-bottom), 14px, 400, 20px);
          text-align: left;
        }
        p {
          @include formText(var(--text-color1), 14px, 400, 20px);
          text-align: left;
        }
      }
    }
  }
  .table-refer {
    table {
      width: 100%;
      border: 1px solid var(--color-whitishgrey);

      thead {
        background-color: var(--bg-tableHeader);

        th {
          padding: 15px 20px;
          @include formText(var(--header-black), 14px, 600, 20px);
          text-align: left;
          &:last-child {
            width: 108px;
            text-align: start;
            padding-right: 50px;
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid var(--color-whitishgrey);
          &:last-child {
            border-bottom: none;
          }
          td {
            padding: 20px;
            @include formText(var(--header-black), 14px, 400, 20px);
            text-align: left;
            &:last-child {
              width: 108px;
              text-align: start;
              padding-right: 50px;
            }
          }
        }
      }
    }
  }
}
.travelDetails_wrap {
  width: 100%;
  .flight-details {
    .flight-tag {
      @include flextype(space-between, center);
      h4 {
        @include formText(var(--color-footer-bottom), 22px, 600, 30px);
        text-align: left;
        margin: 0px;
      }
      span {
        @include borderBackground(null, var(--bg-upcoming), 4px, null);
        @include formText(var(--text-upcoming), 12px, 400, 16px);
        text-align: center;
        padding: 5px 24px;
      }
    }
    .dateOrder {
      width: 65%;
      padding-bottom: 20px;
      @include flextype(space-between, center);
      .dateorder_details {
        text-align: left;
        span {
          @include formText(var(--header-black), 14px, 600, 20px);
        }
        p {
          @include formText(var(--text-color1), 14px, 400, 20px);
          margin: 0px;
          text-align: left;
        }
      }
    }
    .pnr-wrap {
      text-align: left;
      border-top: 1px solid var(--color-whitishgrey);
      padding-top: 20px;
      h4 {
        @include formText(var(--text-color7), 14px, 600, 17px);
        margin: 0px;
        text-align: left;
      }
      .img-flightName {
        @include flextype(null, center);
        gap: 10px;
        padding-top: 20px;
        .flightName {
          h4 {
            @include formText(var(--header-black), 20px, 600, 24px);

            text-align: left;
          }
          span {
            @include formText(var(--header-black), 16px, 400, 19px);
            text-align: left;
          }
        }
      }
      .flight-detail-wrap {
        @include flextype(space-between, center);
        margin-top: 20px;
        .flight-duration-details {
          span {
            @include formText(var(--text-color7), 14px, 400, 17px);
            text-align: left;
          }
          p {
            @include formText(var(--text-color7), 20px, 600, 24px);

            margin-bottom: 0px;
            &.date {
              @include formText(var(--text-color7), 18px, 600, 22px);
              margin: 5px 0px 8px;
            }
            &.airport {
              width: 150px;
              text-overflow: ellipsis;
              overflow: hidden;
              // white-space: nowrap;
              @include formText(var(--text-color9), 14px, 400, 17px);
              white-space: nowrap;
              text-align: left;
            }
          }
        }
        .duration-details {
          text-align: center;
          span {
            border-bottom: 1px solid var(--color-whitishgrey);
            @include formText(var(--border-color1), 14px, 400, 17px);
            padding-bottom: 3px;
          }
          p {
            margin: 0px;
            padding-top: 5px;
            @include formText(var(--border-color1), 14px, 400, 17px);
          }
        }
      }
    }
    .refund-class-baggage {
      text-align: left;
      margin-top: 25px;
      @include flextype(null, center);
      gap: 5px;
      span {
        @include borderBackground(1px solid var(--border-color3), var(--color-white), 5px, null);
        @include formText(var(--border-color3), 14px, 500, 17px);
        padding: 5px 10px;
      }
      .span-img-wrap {
        @include flextype(null, center);
        gap: 5px;

        .img-text {
          @include flextype(null, center);
          padding-right: 5px;

          span {
            border: none;

            @include formText(var(--text-color7), 12px, 400, 14px);
            white-space: nowrap;
            padding: 3px;
          }
        }
      }
    }
  }
  .btnwrap-details {
    @include flextype(center, center);
    padding: 26px 0px;

    button {
      @include formText(var(--text-color1), 16px, 400, 25px);
      padding: 7px 10px;
      text-align: center;
      margin: 0px 10px;
      @include borderBackground(1px solid var(--text-color1), var(--color-white), 4px, null);
    }
  }

  .travel-tables {
    text-align: left;
    h4 {
      @include formText(var(--header-black), 18px, 600, 26px);
    }
    span {
      @include formText(var(--text-color7), 16px, 600, 19px);
      text-align: left;
    }
    .category-table-box {
      padding-bottom: 20px;
      .table_content {
        border-top: 1px solid var(--color-whitishgrey);
        padding-top: 17px;
        margin-top: 5px;

        table {
          width: 100%;

          thead {
            th {
              @include formText(var(--text-color1), 14px, 400, 17px);
            }
          }

          tbody {
            td {
              @include formText(var(--text-color7), 14px, 400, 17px);

              text-align: left;
              padding: 5px;
            }
          }
        }
      }
    }
  }
  .order-details {
    margin: 20px 0px;
    text-align: left;
    h4 {
      @include formText(var(--text-color7), 18px, 500, 26px);
    }
    ul {
      margin-top: 20px;
      list-style: none;
      padding: 0px;
      li {
        @include formText(var(--text-color1), 14px, 400, 20px);
        text-align: left;
        span {
          @include formText(var(--header-black), 14px, 600, 20px);
          margin-left: 10px;
        }
      }
    }
  }
  .important-details {
    text-align: left;

    h4 {
      @include formText(var(--header-black), 18px, 600, 26px);
      margin-bottom: 20px;
    }
    p {
      @include formText(var(--text-color1), 14px, 400, 20px);
      text-align: left;
      &.tc {
        @include formText(var(--text-color7), 14px, 400, 17px);
      }
      span {
        cursor: pointer;
        @include formText(var(--color-green), 14px, 400, 17px);
      }
    }
  }
  .order-summaryTravel {
    text-align: left;
    h4 {
      @include formText(var(--header-black), 20px, 600, 28px);
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      padding: 0px;
      margin-top: 10px;
      li {
        @include flextype(space-between, center);
        @include formText(var(--header-black), 15px, 400, 19px);
        margin: 13px 0px;
        .greenspan {
          @include formText(var(--color-green), 16px, 600, 19px);
          text-align: right;
        }
      }
      &.ul_li-box-travel {
        @include borderBackground(null, var(--color-whitishgrey), 4px, null);
        padding: 5px 10px;
        &.cancelview {
          @include borderBackground(null, var(--ul-bg), 4px, null);
        }

        li {
          span {
            @include formText(var(--border-color1), 16px, 600, 19px);
          }
          &.boldli {
            @include formText(var(--text-color7), 16px, 600, 19px);
          }
          @include formText(var(--border-color1), 17px, 400, 20px);
          .greenspan {
            @include formText(var(--color-green), 16px, 600, 19px);
            text-align: right;
          }
        }
      }
    }
  }
}
.orderDetails_wrap {
  width: 100%;

  .order_details-history {
    text-align: left;
    .order-tag {
      @include flextype(space-between, center);
      h4 {
        @include formText(var(--color-footer-bottom), 22px, 600, 30px);
        text-align: left;
      }
      span {
        @include borderBackground(null, var(--bg-upcoming), 4px, null);
        @include formText(var(--text-upcoming), 12px, 400, 16px);
        text-align: center;
        padding: 5px 24px;
      }
    }
    .order-date-id {
      padding-bottom: 20px;
      .order-date-id-details {
        text-align: left;
        width: 100%;

        label {
          @include formText(var(--header-black), 14px, 600, 20px);
        }
        span {
          @include formText(var(--text-color1), 14px, 400, 20px);
          margin: 0px;
          text-align: left;
        }
      }
    }
    .shiping_address {
      border-top: 1px solid var(--color-whitishgrey);
      padding-top: 20px;
      h4 {
        @include formText(var(--header-black), 18px, 500, 26px);
      }
      .address-details-ord {
        padding: 10px;
        @include borderBackground(1px dashed var(--color-whitishgrey), var(--bg-color2), 4px, null);
        .name-number {
          @include flextype(unset, center);
          gap: 15px;
          span {
            @include formText(var(--header-black), 14px, 600, 20px);
          }
          p {
            @include formText(var(--text-color1), 14px, 400, 20px);
            margin: 0px;
          }
        }
        .address-shipment {
          max-width: 208px;
          p {
            @include formText(var(--text-color1), 14px, 400, 20px);
            margin: 0px;
          }
        }
      }
    }
  }
  .list-order {
    text-align: left;
    margin-top: 10px;

    h4 {
      @include formText(var(--header-black), 18px, 500, 26px);
    }
    .tag-list {
      padding-bottom: 10px;

      @include formText(var(--text-color1), 14px, 400, 20px);
      white-space: nowrap;
    }
    .info-order-box {
      border-top: 1px solid var(--color-whitishgrey);
      padding: 20px 0px;

      .img-size-quant {
        @include flextype(null, flex-start);
        gap: 10px;

        .details-product {
          h4 {
            @include formText(var(--header-black), 14px, 600, 20px);
            margin: 0px;
          }
          p {
            margin: 0px;

            @include formText(var(--text-color1), 14px, 400, 20px);
          }
          .span-wrap {
            @include flextype(unset, center);
            gap: 10px;
            margin-bottom: 10px;
            span {
              @include borderBackground(null, var(--color-whitishgrey), 4px, null);
              @include formText(var(--header-black), 14px, 400, 17px);
              padding: 6px 12px;
            }
          }
        }
      }
      .price_box {
        @include flextype(center, center);
        height: 100%;
        span {
          @include formText(var(--header-black), 14px, 600, 20px);
          // color: #323232;
          // font-family: Helvetica;
          // font-size: 14px;
          // line-height: 20px;
          text-align: left;
        }
      }
      .tag-view {
        @include flextype(center, center);
        height: 100%;
        span {
          @include borderBackground(null, var(--bg-upcoming), 4px, null);
          @include formText(var(--text-upcoming), 12px, 400, 16px);
          text-align: center;
          padding: 3px 10px;
          &.delivered {
            @include borderBackground(null, var(--bg-deliver), 4px, null);
            @include formText(var(--text-deliver), 12px, 400, 16px);
          }
        }
      }
      .btn-items {
        margin-top: 10px;
        button {
          width: 100%;

          @include borderBackground(1px solid var(--color-orange), var(--color-white), 4px, null);
          padding: 7px 0px;
          @include formText(var(--color-orange), 16px, 400, 25px);

          &.cancel-items {
            @include formText(var(--text-color1), 16px, 400, 25px);
            @include borderBackground(1px solid var(--color-whitishgrey), var(--color-white), 4px, null);
          }
        }
      }
    }
  }
  .order-summary-cancel-btn {
    margin-top: 20px;
    text-align: center;
    span {
      @include formText((--header-black), 16px, 400, 19px);

      text-align: center;
    }
    button {
      margin-top: 20px;
      padding: 7px 0px;
      width: 100%;
      @include borderBackground(1px solid var(--text-color1), var(--color-white), 4px, null);
      @include formText(var(--text-color1), 16px, 400, 25px);

      text-align: center;
    }
  }
}

//editModal
.editModal_wrap {
  .modal-dialog {
    max-width: 632px;
    .modal-content {
      .modal-header {
        border-bottom: none;
      }
      .modal-body {
        .edit_wrap {
          text-align: left;
          padding: 0px 30px;
          button {
            width: 100%;
            @include buttonCss(var(--text-color1), 16px, 400, var(--color-white), 4px);
            border: 1px solid var(--text-color1);
            padding: 7px 0px;
          }
          .optionalSpan {
            span {
              @include formText(var(--text-color2), 12px, 400, 14px);
            }
          }
          .select-address {
            @include flextype(null, center);
            gap: 10px;

            span {
              @include formText(var(--text-color8), 14px, 400, 17px);
              text-align: left;
            }
            .inp_lable {
              @include flextype(unset, center);
              gap: 5px;

              input[type="radio"] {
                accent-color: var(--header-black);
              }
              input[type="radio"] + label {
                @include formText(var(--text-color2), 14px, 400, 17px);
              }
              input[type="radio"]:checked + label {
                color: var(--header-black);
              }
            }
          }
          .checked-box_address {
            border-top: 1px solid var(--color-whitishgrey);
            padding-top: 20px;
            @include flextype(unset, center);
            gap: 10px;
            input[type="checkbox"] {
              accent-color: var(--color-orange);
              //@include formText(var(--text-color2), 14px, 400, 17px);
            }
            input[type="checkbox"] + lable {
              accent-color: var(--color-orange);
              @include formText(var(--text-color8), 14px, 400, 17px);
            }
          }
        }
      }
    }
  }
}
.viewModal_wrap {
  .modal-dialog {
    max-width: 601px;
    .modal-content {
      .modal-header {
        border-bottom: none;
      }
      .modal-body {
        .viewDetailsModal {
          text-align: left;
          padding: 0px 40px;
          @include formText(var(--text-color1), 14px, 400, 26px);
          h4 {
            @include formText(var(--header-black), 18px, 500, 26px);
          }
          ol {
            padding: 0px 0px 0px 14px;
          }
          p {
            @include formText(var(--text-color1), 14px, 400, 26px);
            margin-top: 30px;
          }
        }
      }
    }
  }
}
.cancelModal_wrap {
  .modal-dialog {
    max-width: 594px;
    .modal-content {
      .modal-header {
        border-bottom: none;
      }
      .modal-body {
        .cancel_content {
          text-align: center;
          h4 {
            @include formText(var(--color-footer-bottom), 22px, 600, 30px);
          }
          p {
            @include formText(var(--text-color1), 14px, 400, 20px);
          }
          .updatebtn-wrap {
            @include flextype(center, center);
            margin-top: 30px;
            gap: 20px;
            button {
              @include borderBackground(1px solid var(--text-color7), var(--color-white), 4px);
              padding: 6px 64px;
              @include formText(var(--text-color1), 16px, 400, 25px);

              text-align: center;
              &.cancel_btn {
                @include borderBackground(1px solid var(--color-orange), var(--color-orange), 4px, null);
                @include formText(var(--color-white), 16px, 400, 25px);
              }
            }
          }
        }
      }
    }
  }
}
.trackModal_wrap {
  .modal-dialog {
    .modal-content {
      .modal-header {
        border-bottom: none;
      }
      .modal-body {
        .trackModal_content_wrap {
          text-align: center;
          .delivery-details {
            border-bottom: 1px solid var(--color-whitishgrey);
            padding-bottom: 10px;
            .lable-span {
              text-align: center;
              width: 100%;
              :last-child {
                text-align: right;
              }
              label {
                @include formText(var(--text-color1), 14px, 400, 20px);
              }
              span {
                @include formText(var(--header-black), 14px, 600, 20px);

                text-align: left;
              }
            }
          }
          .product-view-track {
            @include flextype(center, center);
            //border-bottom: 1px solid var(--color-whitishgrey);
            padding: 30px;
            .img-size-quant-modal {
              @include flextype(null, flex-start);
              @include borderBackground(1px solid var(--color-whitishgrey), var(--color-white), 4px, null);
              text-align: left;
              gap: 10px;
              padding: 20px 45px;

              .details-product {
                h4 {
                  @include formText(var(--header-black), 14px, 600, 20px);
                  margin: 0px;
                }
                p {
                  margin: 0px;

                  @include formText(var(--text-color1), 14px, 400, 20px);
                }
                .span-wrap {
                  @include flextype(unset, center);
                  gap: 10px;
                  margin-bottom: 10px;
                  span {
                    @include borderBackground(null, var(--color-whitishgrey), 4px, null);
                    @include formText(var(--header-black), 14px, 400, 17px);
                    padding: 6px 23px;
                  }
                }
              }
            }
          }
          .order-track-view {
            @include flextype(null, center);
            //padding: 20px 25px;
            margin-left: 10px;
            .view-box-track {
              text-align: left;
              .radio-dashed {
                @include flextype(null, center);
                .outer-circle {
                  width: 25px;
                  height: 25px;
                  border: 2px solid var(--color-whitishgrey);
                  padding: 2px;
                  border-radius: 50%;
                  @include flextype(center, center);
                  &.active-outr {
                    border: 2px solid var(--color-green);
                  }
                  .inner-circle {
                    width: 15px;
                    height: 15px;
                    background-color: var(--color-whitishgrey);
                    border-radius: 50%;
                    &.active-bg {
                      background-color: var(--color-green);
                    }
                  }
                }
                .dashed {
                  border: 1px dashed var(--color-whitishgrey);
                  width: 100%;
                  &.brd {
                    border: none;
                  }
                }
              }
              span {
                @include formText(var(--text-color1), 14px, 400, 20px);
                &.active {
                  @include formText(var(--color-green), 14px, 400, 20px);
                }
              }
              p {
                @include formText(var(--header-black), 14px, 600, 20px);
                margin: 0px;
                &.active {
                  @include formText(var(--color-green), 14px, 400, 20px);
                }
              }
            }
          }
        }
        .cancelModal-wrap {
          span {
            @include formText(var(--text-color1), 14px, 400, 20px);
            text-align: center;
          }
          .btn-cancel-order {
            @include flextype(center, center);
            margin-top: 20px;
            gap: 20px;
            button {
              @include borderBackground(1px solid var(--text-color1), var(--color-white), 4px, null);
              @include formText(var(--text-color1), 16px, 400, 25px);
              width: 43%;
              padding: 6px 0px;

              &.cancelbtn {
                @include borderBackground(1px solid var(--color-orange), var(--color-orange), 4px, null);
                @include formText(var(--color-white), 16px, 400, 25px);
              }
            }
          }
        }
      }
    }
  }
}

//mobileview
@media screen and (max-width: 992px) {
  .main_container {
    .sidebarContent {
      display: flex;
      flex-direction: column;
      padding: 10px 5%;
      .side_wrap {
        width: 100%;
        .li-active {
          @include formText(var(--header-black), 14px, 600, 18px);
          padding: 19px 12px;
        }
        .li-inactive {
          @include formText(var(--text-color1), 14px, 600, 18px);
        }
      }
    }

    .profile_detail {
      .circle-name-box {
        .name-details-pr {
          h3 {
            @include formText(var(--color-footer-bottom), 16px, 600, 18px);
            text-align: left;
            margin: 0px;
          }
          span {
            @include formText(var(--text-color1), 14px, 400, 20px);
            text-align: left;
          }
        }
      }
      .detail_card {
        .prf-btn {
          span {
            @include formText(var(--header-black), 16px, 500, 18px);
          }
          button {
            padding: 2px 10px;
            @include formText(var(--text-color1), 14px, 400, 20px);
          }
        }
        .ul-li-box {
          display: flex;
          flex-direction: column;
          gap: 0px;
          ul {
            margin: 0px;
            padding-right: 0px;
            li {
              justify-content: space-between;
              h4 {
                white-space: nowrap;
                @include formText(var(--text-color1), 14px, 400, 16px);
              }
              label {
                text-overflow: ellipsis;
                width: 140px;
                overflow: hidden;
                text-align: right;
                @include formText(var(--header-black), 12px, 400, 14px);

                span {
                  @include formText(var(--color-lightblue), 12px, 400, 14px);
                }
              }
            }
          }
        }
      }
      .address-box {
        padding: 10px;
        .name-default {
          .name-mobile {
            span {
              //  @include formText(var())
            }
            p {
              @include formText(var(--header-black), 12px, 400, 14px);
              margin: 0px;
              margin-bottom: 5px;
            }
          }
          .img-tag {
            @include flextype(null, center);
            gap: 5px;
            span {
              padding: 5px 7px;
            }
          }
        }
        .cmplt-address {
          p {
            @include formText(var(--text-color1), 12px, 400, 16px);
          }
        }
      }
      .btn-box-adr {
        button {
          padding: 5px 0px;
        }
      }
    }
  }
  .coupons_wrap {
    .tabs-class {
      margin-bottom: 15px;
      .nav-link.active {
        @include formText(var(--header-black), 14px, 500, 18px);
        margin-left: 0px;
        padding: 10px;
      }
      .nav-link {
        @include formText(var(--text-color2), 14px, 500, 18px);
        margin-left: 0px;
        padding: 10px;
      }
    }
    .content_wrap {
      padding: 0px 10px;
      .btn_wrap_offer {
        @include flextype(flex-start, center);
        gap: 10px;
        margin-bottom: 0px;
        .nav-link.active {
          @include formText(var(--color-white), 12px, 400, 16px);
          padding: 5px 15px;
        }
        .nav-link {
          @include formText(var(--text-color1), 12px, 400, 16px);
          padding: 5px 15px;
        }
      }
      .coupons_details_wrap {
        .img-brand {
          padding: 0px;

          .text-wrap {
            span {
              @include formText(var(--text-color3), 16px, 500, 18px);
            }
            p {
              @include formText(var(--text-color1), 14px, 400, 18px);
              margin-bottom: 5px;
            }
          }
        }
        .date_box {
          flex-wrap: wrap;
          padding: 5px 0px;
        }
        .clipborad_box {
          padding: 5px 0px;
          .code {
            @include formText(var(--header-black), 16px, 600, 20px);
          }
        }
      }
    }
  }
  .travelDetails_wrap {
    .flight-details {
      .flight-tag {
        h4 {
          margin: 0px;
          @include formText(var(--color-footer-bottom), 18px, 600, 26px);
        }
        span {
          // @include borderBackground(null, var(--bg-upcoming), 4px, null);
          @include formText(var(--text-upcoming), 12px, 400, 16px);
          text-align: center;
          padding: 5px 14px;
        }
      }
      .dateOrder {
        width: 100%;
        padding-bottom: 10px;
      }
      .pnr-wrap {
        padding-top: 10px;
        .img-flightName {
          padding-top: 10px;
          .flightName {
            h4 {
              @include formText(var(--header-black), 18px, 600, 22px);
            }
            span {
              @include formText(var(--header-black), 14px, 400, 17px);
            }
          }
        }
        .flight-detail-wrap {
          margin-top: 5px;

          .duration-details {
            padding: 0px;
            span {
              @include formText(var(--border-color1), 10px, 400, 12px);
            }
            p {
              @include formText(var(--border-color1), 10px, 400, 12px);
            }
          }
          .flight-duration-details {
            &.pd-left {
              padding-left: 10px;
            }
            span {
              @include formText(var(--text-color7), 12px, 400, 16px);
            }
            p {
              @include formText(var(--text-color7), 18px, 600, 20px);
              &.date {
                @include formText(var(--text-color7), 16px, 600, 18px);
                margin: 2px 0px 5px;
              }
              &.airport {
                width: 100%;
                //  overflow: initial;
                //  word-break: break-all;
                @include formText(var(--text-color9), 12px, 400, 14px);
              }
            }
          }
        }
      }
      .refund-class-baggage {
        margin-top: 10px;
        flex-wrap: wrap;
        gap: 5px;
        span {
          @include formText(var(--border-color3), 12px, 500, 16px);
          padding: 2px 8px;
        }
        .span-img {
          @include flextype(null, center);
          gap: 5px;
          @include formText(var(--text-color7), 10px, 400, 14px);
        }
      }
    }
    .btnwrap-details {
      padding: 10px 0px;
      button {
        @include formText(var(--text-color1), 12px, 400, 18px);
        padding: 3px 4px;
        text-align: center;
        @include borderBackground(1px solid var(--text-color1), var(--color-white), 4px, null);
      }
    }
    .travel-tables {
      // max-height: 150px;
      // overflow-y: auto;
      // overflow-x: auto;
      .category-table-box {
        .table_content {
          max-height: 150px;
          overflow-y: auto;
          overflow-x: auto;
          table {
            thead {
              th {
                white-space: nowrap;
                @include formText(var(--text-color1), 12px, 400, 15px);
              }
            }
            tbody {
              td {
                @include formText(var(--text-color7), 12px, 400, 15px);

                text-align: left;
                padding: 5px;
                white-space: nowrap;
              }
            }
          }
        }
        span {
          @include formText(var(--text-color7), 14px, 600, 17px);
        }
      }
    }
    .order-details {
      margin: 10px 0px;
      ul {
        li {
          @include formText(var(--text-color1), 12px, 500, 14px);
          @include flextype(space-between, center);
          span {
            @include formText(var(--header-black), 12px, 600, 14px);
          }
        }
      }
    }
    .important-details {
      h4 {
        @include formText(var(--header-black), 16px, 600, 24px);
        margin-bottom: 20px;
      }
      p {
        @include formText(var(--text-color1), 12px, 400, 18px);
        text-align: left;
        &.tc {
          @include formText(var(--text-color7), 12px, 400, 15px);
        }
        span {
          @include formText(var(--color-green), 12px, 400, 15px);
        }
      }
    }
    .order-summaryTravel {
      margin: 10px 0px;
      h4 {
        @include formText(var(--header-black), 18px, 600, 24px);
      }
      ul {
        padding: 0px 10px;
        li {
          @include formText(var(--header-black), 14px, 400, 16px);
          margin: 10px 0px;
        }
        &.ul_li-box-travel {
          padding: 10px;
          li {
            @include formText(var(--border-color1), 15px, 400, 16px);
            span {
              @include formText(var(--border-color1), 14px, 600, 16px);
            }
            &.boldli {
              @include formText(var(--text-color7), 14px, 600, 16px);
            }

            &.greenspan {
              @include formText(var(--color-green), 14px, 600, 16px);
              text-align: right;
            }
          }
        }
      }
    }
  }
  .orderDetails_wrap {
    .order_details-history {
      padding: 10px;
      .order-tag {
        h4 {
          @include formText(var(--color-footer-bottom), 16px, 600, 24px);
          margin-bottom: 5px;
        }
        span {
          padding: 5px 10px;
        }
      }
      .order-date-id {
        padding-bottom: 10px;
        .order-date-id-details {
          @include flextype(space-between, center);
          margin: 5px 0px;
          label {
            @include formText(var(--header-black), 12px, 600, 18px);
          }
          span {
            @include formText(var(--text-color1), 12px, 400, 18px);
            margin: 0px;
            text-align: left;
          }
        }
      }
      .shiping_address {
        padding-top: 10px;
        h4 {
          @include formText(var(--header-black), 16px, 500, 20px);
          margin-bottom: 10px;
        }
        .address-details-ord {
          .name-number {
            justify-content: space-between;
          }
          .address-shipment {
            max-width: 100%;
          }
        }
      }
    }
    .list-order {
      .tag-list {
        display: none;
      }
      .info-order-box {
        padding: 10px 0px;
        .img-size-quant {
          position: relative;
          .upcoming-tag{
          
          }
          .details-product {
            h4 {
              @include formText(var(--header-black), 12px, 600, 16px);
            }
            p {
              @include formText(var(--text-color1), 12px, 400, 16px);
            }
            .span-wrap {
              margin: 5px 0px;
              span {
                padding: 3px 6px;
                @include formText(var(--header-black), 12px, 400, 16px);
              }
            }
          }
        }
        .price_box {
          justify-content: flex-start;
          padding-left: 35px;
          margin-top: 5px;
          span {
            @include formText(var(--header-black), 12px, 600, 16px);
          }
        }
        .tag-view {
          margin-top: 5px;
          justify-content: flex-start;
          //img width{}
          //padding-left: 35px;
        }
        .btn-items {
          button {
            @include formText(var(--color-orange), 14px, 400, 18px);
            padding: 5px 0px;
            margin-bottom: 10px;
            &.cancel-items {
              @include formText(var(--text-color1), 14px, 400, 18px);
            }
          }
        }
      }
    }
    .order-summary-cancel-btn {
      margin-top: 10px;

      span {
        @include formText((--header-black), 14px, 400, 16px);
      }
      button {
        margin-top: 10px;
        padding: 5px 0px;
        width: 100%;
        @include borderBackground(1px solid var(--text-color1), var(--color-white), 4px, null);
        //margin-bottom: 10px;
      }
    }
  }
  .hs-container {
    .table-view-wrap {
      table {
        thead {
          th {
            padding: 5px;
          }
        }
        tbody {
          td {
            padding: 5px 10px;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .pointbalance_wrap {
    .tier-ern-redem_wrap {
      .progress-box {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .begn-points {
          .tiername-pts {
            h1 {
              @include formText(var(--color-footer-bottom), 18px, 600, 24px);
            }
            .pts-block {
              span {
                @include formText(var(--color-footer-bottom), 16px, 400, 20px);
              }
            }
          }
          span {
            @include formText(var(--text-color1), 12px, 400, 18px);
          }
        }
      }
      .earn-reedem-box {
        padding: 0px;
        margin-bottom: 10px;
        border-right: 0px;
        .ern-content {
          width: 100%;
          text-align: left;
        }
      }
    }
    .work-flow-box {
      margin-top: 10px;
      .benefits-wrap {
        padding: 10px 0px;
        h3 {
          @include formText(var(--header-black), 16px, 600, 24px);
        }
        .tier-card-wrap {
          margin-top: 10px;
        }
      }
    }
  }
  .referEarnWrap {
    width: 100%;
    .refer-container {
      flex-direction: column;
      gap: 10px;
      .share-container {
        .share-coupon-box {
          text-align: left;
          p {
            margin: 0px;
            @include formText(var(--header-black), 14px, 500, 22px);
            text-align: left;
          }
          span {
            @include formText(var(--color-footer-bottom), 16px, 600, 22px);
            text-align: left;
          }
          .coupon-code-box {
            margin-top: 10px;

            p {
              padding: 5px 20px;
              @include formText(var(--color-orange), 18px, 400);
            }

            button {
              @include formText(var(--color-white), 18px, 400, 22px);
              text-align: center;
              padding: 5px 15px;
            }
          }
        }
        .span-wrp {
          gap: 5px;

          .line {
            width: 42px;
          }
          span {
            @include formText(var(--text-color1), 14px, 400, 17px);
          }
        }
        .media-box {
          gap: 9px;
          .media-card {
            box-shadow: 0 4px 6px 0 rgba(161, 161, 161, 0.1);
            padding: 5px 9px;
            gap: 5px;
            span {
              display: none;
            }
          }
        }
      }
    }
    .trc-view {
      padding: 10px;
      .trc-content {
        gap: 5px;
        margin-bottom: 10px;
        border-right: 1px solid var(--color-whitishgrey);
        &.brd-right {
          border-right: none;
        }
      }
    }
  }
  .reward_cash_wrap {
    .reward-cash {
      flex-direction: column;
      align-items: flex-start;
      .reward-points-wrap {
        width: 100%;
        span {
          @include formText(var(--text-color1), 14px, 400, 16px);
        }
        .reward-points {
          h3 {
            @include formText(var(----color-footer-bottom), 18px, 600, 26px);
          }
          span {
            @include formText(var(--header-black), 20px, 400, 24px);
          }
        }
      }
    }
    // .table-refer{
    //   .table-content{
    //     max-height: 150px;
    //     overflow-x: auto;
    //     overflow-y: auto;
    //   }
  }
  .editModal_wrap {
    .modal-dialog {
      .modal-content {
        .modal-body {
          padding-top: 0px;
          .edit_wrap {
            padding: 10px;
          }
        }
      }
    }
  }
  .viewModal_wrap {
    .modal-dialog {
      .modal-content {
        .modal-header {
        }
        .modal-body {
          padding: 0px 10px;
          .viewDetailsModal {
            padding: 0px;
          }
        }
      }
    }
  }
  .cancelModal_wrap {
    .modal-dialog {
      .modal-content {
        .modal-body {
          h4 {
            @include formText(var(--color-footer-bottom), 18px, 600, 26px);
          }
          p {
            @include formText(var(--text-color1), 12px, 400, 18px);
          }
          .updatebtn-wrap {
            flex-wrap: wrap;
            margin-top: 10px;
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .trackModal_wrap {
    .modal-dialog {
      .modal-content {
        .modal-header {
          border-bottom: none;
        }
        .modal-body {
          .trackModal_content_wrap {
            h4 {
              // @include formText(var())
            }
            .delivery-details {
              .lable-span {
                @include flextype(space-between, center);
                label {
                  @include formText(var(--text-color1), 12px, 400, 18px);
                }
                span {
                  @include formText(var(--header-black), 12px, 600, 18px);

                  text-align: left;
                }
              }
            }
            .product-view-track {
              padding: 10px;
              .img-size-quant-modal {
                padding: 8px 5px;
                .details-product {
                  .span-wrap {
                    span {
                      padding: 4px 10px;
                      @include formText(var(--header-black), 12px, 400, 14px);
                    }
                  }
                }
              }
            }
            .order-track-view {
              .view-box-track {
                span {
                  @include formText(var(--text-color1), 12px, 400, 16px);
                }
                p {
                  @include formText(var(--header-black), 12px, 400, 14px);
                }
              }
            }
          }
        }
      }
    }
  }
}
